<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8"/>
  <title>寄付フォーム</title>
  <meta name="viewport" content="width = device - width, initial - scale = 1.0"/>
</head>
<body>
<!-- コンテンツ -->
<div class="contents">
  <h2>寄付フォーム</h2>
  <br>遷移後、送り先（DB参照）と、送る物資(マイページDB参照)を選択
  <br>印刷？できるようにする？

  <form>
    <select>
      <option selected>---</option>
      <option>[KD異臭事変]（神戸電子専門学校）</option>
      <option>他DBから取得</option>
    </select>

    <select>
      <option selected>---</option>
      <option>乾パン（2020/01/01）</option>
      <option>他DBから取得</option>
    </select>

    <a href="order.html">はっちゅ～</a>

  </form>
</div>
</body>
</html>