<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8"/>
  <title>寄付情報</title>
  <meta name="viewport" content="width = device - width, initial - scale = 1.0"/>
  <!-- <script src="js/scroll.js"></script> -->
  <!-- <script type="text/javascript" src="js/scroll.js"></script> -->
</head>
<body>
<!-- コンテンツ -->
<div class="contents">
  <%= image_tag("donate.jpg", :class => "donate_top") %>
  <div class="donate_news">
    <h5>災害新着情報</h5>
    <ul>
      <li><a href="">リンク1</a></li>
      <li><a href="">リンク2</a></li>
      <li><a href="">リンク3</a></li>
    </ul>
  </div>
  <div class="donate_news">
    <h5>支援物資受付地域</h5>
    現在支援を受け付けている地域は以下になります。
  </div>
  <br>現状の寄付募集状況を表示
  <br>寄付するボタンで専用ページへ(別窓で開いてもよさそう)
  <a href="donating.html">
    <button>寄付フォームへ</button>
  </a>
</div>
<div id="footer"></div>
</body>
</html>