<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8"/>
  <title>備蓄管理サービス -LimiRation-</title>
  <meta name="viewport" content="width = device - width, initial - scale = 1.0"/>
  <%= javascript_include_tag "scroll" %>
  <!-- <script type="text/javascript" src="js/scroll.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

</head>

<body class="index">

<div class="toptitle">
  <a>-LimiRation-<br>　備蓄管理をITで.</a>
</div>

<div class="top">
  <div id="header">
    <!-- ヘッダー読み込み -->
  </div>
  <!-- ここからコンテンツ -->

  <div class="what">
    <br>
    <h1>　What is this?</h1>
    <!-- <br><img src="images/bousai_goods.png" align="left"> -->
    <br><br><br>
    <h2>LimitとRation、略してLimiRation</h2>
    <br><br><br>
    <br> 普段忘れがちな備蓄の管理、
    <br>ITで行って見ませんか？
    <br><br><br>また、災害に関してのニュースや防災グッズの最新情報まで確認できます。
    <br><br>そして、期限が切れそうな物は支援団体に、災害時には被災地に、寄付できます。
    <br><br><br>備蓄管理、始めませんか？
    <br><br><br>
    <a href="../accounts/sign_up" class="square_btn">今すぐ始める(会員登録)</a>
    <br><br><br><br><br><br><br><br><br>
  </div>
  <br><br><br><br><br><br><br>

  <div class="management">
    <h1>　How to management?</h1>
    ユーザー登録をします
    <br> 所有物登録をします
    <br> 管理します
  </div>
  <br><br><br><br><br><br><br>

  <div class="donate">
    <h1>　How to donate?</h1>
    寄付システムの解説を行う
    <br><br>1,期限が切れそうなもの
    <br>2,災害が起こった時
    <br>寄付情報を入力し、送信
    <br>支援団体に配送されます
    <br>ここで確認が取れれば、あなたのIDにクーポンが配られます
    <br>支援団体が指定された各地域に配送されます
  </div>
  <br><br><br>
  <!-- ここまでコンテンツ -->
  <div id="footer">
    <!-- フッター読み込み -->
  </div>
</div>
</body>
</html>

