<ul id="menu">
  <a href="index.html">
    <div class="logo">
      <%= image_tag "logo.png", :height => "55px", :width => "150px" %>
    </div>
  </a>
  <account>👤</account>
  <li><a href="#">ヘルプ</a></li>
  <li><a href="donate.html">寄付する</a></li>
  <li><a href="shop.html">おすすめ商品</a></li>
  <li><a href="mypage.html">マイページ</a></li>
  <li><a href="news.html">ニュース</a></li>
  <li><a href="index.html">ホーム</a></li>
</ul>